/* .bslib-sidebar-layout>.sidebar {
  background-color: #071e41 !important;
} */


.sidebar-content .form-group {
  margin-bottom: 24px;
}

.btn-outline-default, .btn-default:not(.btn-primary,.btn-secondary,.btn-info,.btn-success,.btn-danger,.btn-warning,.btn-light,.btn-dark,.btn-link,[class*="btn-outline-"]) {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffffff11;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 64,64,64;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffffff11;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  --bs-btn-disabled-color: #404040;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #404040;
  --bs-btn-bg: transparent;
  --bs-gradient: none;
}